<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <!--CSS File-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- navbar -->
    <nav class="navbar">
        <h1 class="logo"></h1>
        <ul class="nav-links-container">
            <li class="nav-link"><a href="#" class="links active">Home</a></li>
            <li class="nav-link"><a href="#about-section" class="links">About</a></li>
            <li class="nav-link"><a href="#project-section" class="links">Projects</a></li>
            <li class="nav-link"><a href="#contact-section" class="links">Contact</a></li>
        </ul>
        <!--Toggle btn-->
        <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
    <!--Header Section-->
    <header class="header" id="home-section">
        <div class="content">
            <h1 class="header-heading">Hello, I am <span class="brand-name">Mohit <span>Saini</span></span></h1>
            <a href="#contact-section" class="btn">Hire</a>
        </div>

        <div class="header-img-container">
            <div class="circle"></div>
            <img src="{{ url_for('static', filename='img/header-img.png') }}" class="header-img" alt="">
            
        </div>
    </header>

    <!--About Section-->
    <section id="about-section">
        <h1 class="heading">About Me </h1>

        <div class="about-container">
            <div class="image-container">
                <div class="square"></div>
                <img src="{{ url_for('static', filename='img/about.png') }}" class="about-img" alt="">
                <div class="social-links">
                    <a href="https://github.com/MohitSaini90" target="_blank"><img src="{{ url_for('static', filename='img/github.png') }}" class="social-img" alt=""></a>
                    <a href="https://www.instagram.com/mitzz07/" target="_blank"><img src="{{ url_for('static', filename='img/insta.png') }}" class="social-img" alt=""></a>
                    <a href="https://www.facebook.com/profile.php?id=100090279665989" target="_blank"><img src="{{ url_for('static', filename='img/fb.png') }}" class="social-img" alt=""></a>
                    <a href="https://twitter.com/Mohitsa42024567" target="_blank"><img src="{{ url_for('static', filename='img/twitter.png') }}" class="social-img" alt=""></a>
                    <a href="https://www.linkedin.com/in/mohit-saini-9112a9213/" target="_blank"><img src="{{ url_for('static', filename='img/linked.png') }}" class="social-img" alt=""></a>
                </div>
            </div>

            <!--Info Part-->
            <div class="info">
                <p>I am Mohit Saini, currently pursuing Electronics and Telecommunications Engineering at Jadavpur University. I am a tech enthusiast with deep interest in Web Developement, Data Structures and Algorithms, Machine Learning. In my free time I love playing cricket and mountaineering.</p>
                <a href="#contact-section" class="btn">Hire Me</a>
                <a href="#"  class="btn">Download CV</a>
            </div>

        </div>

        <!--Skills-->
        <h2 class="sub-heading">Skills</h2>
        <div class="skills">
            <p class="skill-name">C++</p>
            <p class="skill-name">C</p>
            <p class="skill-name">Data Structures</p>
            <p class="skill-name">Algorithms</p>
            <p class="skill-name">SQL</p>
            <p class="skill-name">Machine Learning</p>
            <p class="skill-name">HTML</p>
            <p class="skill-name">CSS</p>
            <p class="skill-name">JavaScript</p>
        </div>

            <!--Time Line-->
        <h2 class="sub-heading">Education and Experience</h2>
        <div class="timeline-container">
    
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">Apr 2006-Apr 2018</h1>
                    <p class="card-body">Completed my secondary school education from SNS Vidya Mandir, Jammu in the year 2018 securing 95.6% in JKBOSE Secondary School Examination</p>
                </div>
            </div>
    
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">Apr 2018-Apr2020</h1>
                    <p class="card-body">Completed my higher secondary school education from SP Smart Hr. School, Jammu in the year 2018 securing 96.4% in JKBOSE Secondary School Examination</p>
                </div>
            </div>
    
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">Sep 2020-present</h1>
                    <p class="card-body">Currently pursuing in Jadavpur University ETCE Department with current average SGPA 9.02</p>
                </div>
            </div>
    
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">Oct 2021-Jan 2022</h1>
                    <p class="card-body">Looked after the Social Media engagement of the company and to advertise the "Fluttr" app through my social media platforms. Through my and our team's continuous efforts we made Fluttr the largest multilingual dating app in Kolkata.</p>
                </div>
            </div>
    
            <div class="card-container">
                <div class="card">
                    <h1 class="card-title">June 2021-Jan 2022</h1>
                    <p class="card-body">My work was to create advertisements and newsletters for the institution "N.G Public School" and, worked as a part time tutor who would set question papers for the students.</p>
                </div>
            </div>
        </div>

    </section>

    <!--Projects-->
    <section id="project-section">
        <h1 class="project-heading">Projects</h1>
        <div class="project-container">



            <div class="project-card">
                <img src="{{ url_for('static', filename='img/project-1.png') }}" class="project-img" alt="">
                <div class="project-content">
                    <h1 class="project-title">Project 01</h1>
                    <p class="project-info">
                        The machine learning model predicts the real-estate price based on certain characteristics.
                    </p>
                    <div class="project-btn-grp">
                        <a href="https://github.com/MohitSaini90/Real_Estate_model" target="_blank">
                            <button class="project-btn github">GitHub Repo</button>
                        </a>
                        <a href="https://real-estate-model.onrender.com" target="_blank">
                        <button class="project-btn live">See Live</button>
                        </a>
                    </div>
                </div>
            </div>


            <div class="project-card">
                <img src="{{ url_for('static', filename='img/project-2.png') }}" class="project-img" alt="">
                <div class="project-content">
                    <h1 class="project-title">Project 02</h1>
                    <p class="project-info">
                        The machine learning model predicts the real-estate price based on certain characteristics.
                    </p>
                    <div class="project-btn-grp">
                        <a href="" target="_blank">
                            <button class="project-btn github">GitHub Repo</button>
                        </a>
                        <a href="" target="_blank">
                        <button class="project-btn live">See Live</button>
                        </a>

                    </div>
                </div>
            </div>

            <div class="project-card">
                <img src="{{ url_for('static', filename='img/project-3.png') }}" class="project-img" alt="">
                <div class="project-content">
                    <h1 class="project-title">Project 03</h1>
                    <p class="project-info">
                        The machine learning model predicts the real-estate price based on certain characteristics.
                    </p>
                    <div class="project-btn-grp">
                        <a href="" target="_blank">
                            <button class="project-btn github">GitHub Repo</button>
                        </a>
                        <a href="" target="_blank">
                        <button class="project-btn live">See Live</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <img src="{{ url_for('static', filename='img/project-4.png') }}" class="project-img" alt="">
                <div class="project-content">
                    <h1 class="project-title">Project 04</h1>
                    <p class="project-info">
                        The machine learning model predicts the real-estate price based on certain characteristics.
                    </p>
                    <div class="project-btn-grp">
                        <a href="" target="_blank">
                            <button class="project-btn github">GitHub Repo</button>
                        </a>
                        <a href="" target="_blank">
                        <button class="project-btn live">See Live</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--Contact section-->
    <section id="contact-section">
        <h1 class="heading">Contact</h1>
        <form action="https://formsubmit.co/0b509f07abd8f3cf952dc385a73aaac1" method="POST">
        <div class="form">
            <input type="text" name="name" placeholder="name">
            <input type="email" name="email" placeholder="email">
            <input type="text" name="subject" placeholder="subject">
            <textarea name="msg" placeholder="message"></textarea>
            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="https://thankyou-page.onrender.com">
            <button type="submit" class="contact-btn">Send</button>
        </div>
        </form>
    </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

 